body {
    background-color: rgb(244, 253, 252);
    border: 2px solid rgb(167, 228, 236);
    margin: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    display: block;
}

.heading {
    text-align: center;
}

.divi {
    text-align: center;
}