.heading {
    text-align: center;
}

div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
body {
    background-color: rgb(244, 253, 252);
    border: 2px solid rgb(167, 228, 236);
    margin: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    display: block;
    
}

